# Основные зависимости для работы с данными
numpy>=1.21.0
pandas>=2.2.3

# Обработка лидарных данных
laspy>=2.0.0

# Геопространственная обработка данных
geopandas==1.0.1
shapely==2.0.7
pyproj>=3.0.0
rasterio==1.4.3

# Обработка изображений
opencv-python==4.11.0.86

# Машинное обучение и компьютерное зрение
torch==2.6.0+cu118
torchvision==0.21.0+cu118
torchaudio==2.6.0+cu118
ultralytics==8.3.136
ultralytics-thop==2.0.14

# Дополнительные утилиты
tqdm==4.67.1  # Индикаторы прогресса
matplotlib>=3.4.0  # Визуализация
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0

# Для работы с Jupyter (опционально, для отладки)
# jupyter>=1.0.0
# ipykernel>=6.0.0
